:root {
    --theme: #280; /* CSS variable */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

h1 {
    font-family: "Arial";
    color: var(--theme);
}

#map {
    width: 100%;
}

#marker {
    width: 3vw; /* 3% of the viewport width */
    height: 3vh;
    background-color: black;
    border-radius: 50%;
    outline: 5px solid var(--theme); /* outlines are like a border, doesn't affect the size */
    border: 5px solid white; /* does affect size */
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}

#mapContainer {
    position: relative;
    display: none;
}

#camera {
    width: 100%;
}